@echo off
color B
mode 1000

:matrix
echo %random%%random%%random%%random%%random%­%random%%random%%random%%random%%random%­%random%%random%%random%%random%%random%­%random%%random%%random%%random%%random%­%random%%random%
goto matrix
